*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #F5F8FF;
}

.inter-black {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

/* shared style */

.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 10px;
    border: none;
}

/* header */

.header{
    background-image: url('../Assets/Hero-bg.png');
    background-position: center;
    /* height: 100vh; */
    height: 698px;
}

/* Nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 158px auto;
    width: 80%;
    padding: 50px 0 50px ;
}

.nav-title{
    color: #4E47FF;
    font-weight: 800;
    font-size: 45px;
}

/* banner styles */


.banner-content{
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.banner-title{
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    margin-bottom: 37px;
}

/* main */

.main-container {
  margin: 0 auto;
  width: 80%;
}

/* First Section */

.first-section {
  margin: 116px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-section-title {
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 23px;
}

.first-section-description{
    font-size: 20px;
    font-weight: normal;
    color: #252432;
  line-height: 30px;
  margin-bottom: 23px;
  opacity: 0.5;

}


.first-section-banner img {
   overflow: hidden;
  border-radius: 48px;
 height: 400px;

}

/* Second Section */

.Second-section {
  margin: 100px auto auto;
  padding: 50px 80px ;
  background-color: #4d47ff10;
  border-radius: 24px;
}

.Second-section-title h4 {
  font-family: "Raleway", sans-serif;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.Second-section-user {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 158px;
}
.Second-section-user h3 {
  font-family: "Inter", sans-serif;
  font-size: 80px;
  color: #4E47FF;
}
.Second-section-user p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #0000005b;
}


/* Third Section */

.third-section {
  margin: 137px 0 ;
  align-items: center;
}

.third-section-title h2 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 50px;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  
}
.third-section-reviews {
  display: flex;
  gap: 20px;

}
.review-card {
  padding: 24px;
  border-radius: 14px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 3px 0px;
  background-color: #FFFFFF;
}

.review-card h4 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 25px;
  color: #1E1E1E;
}

.review-card p {
  font-family: "Inter", sans-serif;
  color: #1e1e1eb4;
  font-size: 18px;
}

.stars{
  margin-bottom: 15px;
}

.review-details {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 24px;
}
.review-details .img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.Reviewer-name h5 {
     font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-transform: capitalize;
  color: #757575;
}

.Reviewer-name p {
  font-size: 18px;
  text-transform: capitalize;
  color: #B3B3B3;
}


/* contact section */

*, *::before, *::after {
  box-sizing: border-box;
}

.contact-section {

  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}
.contact-content h3 {
  font-size: 97px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.email,
.name,
.Message {
    font-family: "Raleway", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}
input {
    font-family: "Raleway", sans-serif;
  margin-top: 10px;
  padding: 20px 32px;
  width: 100%;
  border: 1px solid #c9c5c5;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  background-color: #FFFFFF;
  color: #252432;
}
textarea {
  font-family: "Raleway", sans-serif;
  margin-top: 10px;
  padding: 20px 32px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #c9c5c5;
  resize: none;
  font-size: 20px;
  background-color: #FFFFFF;
  color: #252432;
}


.btn-form{
     width: 100%;
    margin-top: 19px;
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 10px;
    border: none;
}
